.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 380px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(199, 199, 199, 0.521);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.521);
}

.container {
  padding: 2px 14px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(182, 255, 160, 0.521);
}

input {
  margin-top: 0.8em;
  margin-left: 2.5em;
  border: none;
}

.login-button__green {
  background-color: rgb(16, 182, 16);
  color: white;
  margin-top: 2em;
  padding: 0.5em;
  width: 90%;
  height: 3.4em;
  border-radius: 5%;
}

button {
  border: none;
}

.cancel-button_red {
  margin-top: 1em;
  background-color: red;
  color: white;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5%;
  width: 80%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p {
  font-weight: bold;
}